@import url("https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap");

:root {
  --title-font: "Rubik Scribble", system-ui;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  color: white;
  font-family: "Dosis", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #1c0950 0%, #000000 100%);
  margin: 0 1rem 0 1rem;
}

h1 {
  font-size: 3rem;
  margin: 1.6rem 0 0;
  text-align: center;
  font-family: var(--title-font);
}

h2 {
  text-align: center;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

button {
  border: 3px solid #b46000;
  border-radius: 50%;
  width: 70px;
  font-size: 1.5rem;
  padding: 10px;
  background: #355573;
  transition: 0.8s;
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  font-size: 2rem;
}

svg {
  color: #be7100;
  width: 40px;
  height: 40px;
}

.start-button {
  width: fit-content;
  border: 3px solid #b46000;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 10px;
  background: #355573;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

button:hover {
  background-color: #be7100;
  transition: 0s;
}

.copyright {
  margin-bottom: 30px;
}

.rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  border: 3px solid #b46000;
  border-radius: 15px;
  padding: 0.8rem;

  & p {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
}

.round-results {
  width: 100%;
  display: none;

  .player-result {
    min-height: 100px;
    border: 2px solid #b46000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .player-selection {
    font-size: 2rem;
    line-height: 1.2;
    margin: 10px;
  }

  .computer-result {
    border: 2px solid #b46000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.results {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

/* Media query for  with max width 768px (typical breakpoint for mobile devices) */

@media (min-width: 480px) {
  h1 {
    font-size: 2.7rem;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 1.2rem;
    text-align: center;
    margin: 0px 0px 30px;
  }

  button {
    font-size: 1.2rem;
    width: 100px;
  }

  .rules,
  .results {
    font-size: 1.2rem;
  }

  button:active {
    background-color: #be7100;
    transition: 0s;
  }
}
