@import url("https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap");

:root {
  --title-font: "Rubik Scribble", system-ui;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Dosis", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #1c0950 0%, #000000 100%);
  margin: 0 1rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  width: 320px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  margin: 1.6rem 0 0;
  text-align: center;
  font-family: var(--title-font);
}

h2 {
  text-align: center;
}

.rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  border: 3px solid #b46000;
  border-radius: 15px;
  padding: 0.8rem;
  width: 100%;

  & p {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
}

.button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70px;

  button {
    font-family: "Dosis", sans-serif;
    border: 3px solid #b46000;
    border-radius: 15px;
    width: 70px;
    padding: 10px;
    background: transparent;
    transition: 0.8s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .start-button {
    font-size: 1.5rem;
    width: fit-content;
    border-radius: 15px;
    padding: 10px;
    background: transparent;
    color: white;
    transition: 0.3s;
    display: flex;
    align-items: center;
  }

  button:hover {
    background-color: #be7100;
    transition: 0s;
  }
}

span {
  font-size: 2rem;
}

.copyright {
  margin-bottom: 30px;
}

.round-results {
  width: 100%;
  display: flex;
  border: 3px solid #b46000;
  border-radius: 15px;
  padding: 0.8rem;

  .player-weapon,
  .computer-weapon {
    font-size: 2rem;
    line-height: 1.2;
    margin: 10px;
  }

  .player-result-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .computer-result-wrapper {
    min-height: calc(70px + 0.8rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.results {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
}

/* Media query for  with max width 768px (typical breakpoint for mobile devices) */

/* @media (min-width: 480px) {
  h1 {
    font-size: 2.7rem;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 1.2rem;
    text-align: center;
    margin: 0px 0px 30px;
  }

  button {
    font-size: 1.2rem;
    width: 100px;
  }

  .rules,
  .results {
    font-size: 1.2rem;
  }

  button:active {
    background-color: #be7100;
    transition: 0s;
  }
} */
