* {
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  background-color: #345472;
  color: white;
  font-family: "Dosis", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #09203f 0%, #537895 100%);
}

h1 {
  font-size: 4rem;
  margin: 30px 0;
  text-align: center;
}

h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 30px;
}

button {
  border: 3px solid white;
  border-radius: 10px;
  font-size: 1.3rem;
  width: 100px;
  height: 50px;
  background-color: #355573;
  text-align: center;
}

button:active {
  background-color: #be7100;
}

.copyright {
  margin-bottom: 30px;
}

.rules {
  font-size: 1.5rem;
  text-align: center;
  border: 3px solid #fff;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 30px;
}

.results {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

/* Media query for  with max width 768px (typical breakpoint for mobile devices) */

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 1.3rem;
    text-align: center;
    margin: 0px 10px 30px;
  }

  .rules,
  .results {
    font-size: 1.3rem;
  }
}
